{% macro navbar() %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('main_bp.home') }}">App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for item in nav.top %}
                    <li class="nav-item {{ 'active' if item.is_active else '' }}">
                        <a class="nav-link" href="{{ item.url }}">{{ item.label }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endmacro %}